<div *ngIf="loading">
    <highcharts-chart 
        [Highcharts]="Highcharts" 
        [constructorType]="'stockChart'" 
        [options]="chartOptions"
        [chartFunction]="chartCallback"
        [(update)]="updateFlag"
        [oneToOne]="true">
    </highcharts-chart>
</div>