nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin: 10px 5px 0px 0px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}

nav a:visited, a:link {
    color: #334953;
}

nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
}

nav a.active {
    color: #039be5;
}